// ROBOTO BOLD
@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/Roboto-Bold.ttf);
}

// ROBOTO MEDIUM
@font-face {
    font-family: roboto-medium;
    src: url(../../fonts/Roboto-Medium.ttf);
}

// ROBOTO REGULAR
@font-face {
    font-family: roboto-regular;
    src: url(../../fonts/Roboto-Regular.ttf);
}