// FONTS
$font-primary-regular: roboto-regular, sans-serif;
$font-primary-medium: roboto-medium, sans-serif;
$font-primary-bold: roboto-bold, sans-serif;

// COLORS
$color-dark: #0b0c17; 
$color-red: #ff3571;
$color-grey: #dddddd;
$color-blue: #3C30FF;
$color-white: #FFF;
$color-black: #000;


// MARGINS
$margin-100px: 100px;
$margin-50px: 50px;
$margin-25px: 25px;
$margin-10px: 10px;

// FONT SIZES
$font-size-h1: 4.4rem;
$font-size-h2: 3rem;
$font-size-h3: 1.2rem;
$font-size-p-primary: 2rem;
$font-size-p-secondary: 2rem;
