// ABSTRACTS
@import "./abstracts/_animations.scss";
@import "./abstracts/_font-faces.scss";
@import "./abstracts/_mixin.scss";
@import "./abstracts/_variables.scss";
// BASE
@import "./base/_typography.scss";
@import "./base/_reset.scss";
// LAYOUT
@import "./layout/_header.scss";
@import "./layout/_footer.scss";

#image-bg {
    height: 100vh;
    background-image: url(../img/images.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.image-bg {
    height: 100vh;
    background-image: url(../img/images.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.section-idea {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        margin-right: $margin-100px;
    }

    p {
        width: 25%;
        text-align: left;
        @include p-secondary;
    }
}

.section-col-reverse {
    margin-bottom: (2*$margin-100px);

    h2 {
        width: 50%;
        margin-bottom: $margin-100px;
    }

    .col-revers-items {

        max-width: 400px;
        width: 100%;
    }

    .container-flex-flow {
        display: grid;
        justify-content: center;
        gap: 50px 200px;
        grid-template:
            "a b"
            "c d";

        .col-reverse-items {
            max-width: 420px;

            .row-container {
                display: flex;
                align-items: center;
            }

            p {
                margin-left: 145px;
                @include p-secondary;
            }
        }

        #grid1 {
            grid-area: a;
        }

        #grid2 {
            grid-area: b;
        }

        #grid3 {
            grid-area: c;
        }

        #grid4 {
            grid-area: d;

        }
    }
}

.section-ready {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        margin-bottom: $margin-25px;
    }

    >p {
        @include p-primary;
        text-align: center;

        margin-bottom: $margin-50px;
    }

    .article-flex-flow {
        display: flex;
        flex-direction: row;
        margin-bottom: $margin-50px;

        .number-grey {
            @include number;
        }



        .img-container {
            margin-right: $margin-100px;
            max-width: 500px;
            width: 100%;
            max-height: 500px;

            img {
                width: 100%;
                height: auto;
            }
        }


        .article-container {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            >p:not(.number-grey) {
                @include p-secondary;
            }

            .emote {
                margin-bottom: $margin-10px;
            }

            .h3-heading {
                margin-bottom: $margin-25px;
            }
        }
    }
}


#reverse {
    flex-direction: row-reverse;

    >.article-container {
        align-items: flex-end;
    }

    p {
        text-align: right
    }
}