header {
    position: relative;
    display: flex;

    .frontpage {
        margin-left: $margin-25px;
    }

    .img-1 {
        @include bg-propertys-1;
    }

    .img-2 {
        @include bg-propertys-2;
    }

    .frontpage {
        max-width: 100vw;
        width: 100%;
        position: relative;
        height: 100vh;
        margin-left: -200px;
        article {
            display: flex;
            flex-direction: column;

            h1 {
                margin-bottom: $margin-25px;
            }

            p {
                margin-bottom: $margin-100px;
            }
            
            a {
                @include anchor-scroll;
            }
        }

        .img-1 {
            background-image: url(../img/ilustracion1.png)
        }

        .img-2 {
            background-image: url(../img/ilustracion_people.png);
            animation: pulsate-bck 5s infinite;
        }

        @include flex-col-align-center;
    }
}

img {
    margin: 1rem 3rem 0 ;
    @include icon;
}

.a-wrap {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 80px;
    flex-direction: column;

    #dev-project,
    #name {
        @include anchor-header;

    }
    #dev-project {
        font-size: 1.5rem;
        font-weight: 600;
    }
}