@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    transform: translate3d(-10);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    transform: translate3d(-20);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.pa-fixed-header {
  background-color: #ffffff !important;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.svg-scroll {
  border-radius: 100%;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

@font-face {
  font-family: roboto-bold;
  src: url(../../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: roboto-medium;
  src: url(../../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: roboto-regular;
  src: url(../../fonts/Roboto-Regular.ttf);
}
h1 {
  line-height: 70px;
  font-size: 4.4rem;
  font-family: roboto-bold, sans-serif;
}

h2 {
  font-size: 3rem;
  font-family: roboto-medium, sans-serif;
}

h3 {
  font-size: 1.2rem;
  font-family: roboto-medium, sans-serif;
}

.paragraph-primary {
  font-size: 1.2rem;
  font-family: roboto-medium, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section:not(.frontpage) {
  padding-inline: 200px;
}

a:hover {
  cursor: pointer;
}

header {
  position: relative;
}
header nav {
  position: absolute;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: 3;
}
header nav .a-wrap {
  display: flex;
  height: 80px;
}
header nav .a-wrap div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header nav .a-wrap #dev-project,
header nav .a-wrap #name {
  font-family: roboto-bold, sans-serif;
  text-decoration: none;
  color: #000;
}
header nav .a-wrap #dev-project {
  font-size: 1.5rem;
  font-weight: 600;
}
header nav a:not(#name) {
  background-color: #FFF;
  color: #3C30FF;
  margin-inline: auto 2rem;
  border-radius: 5px;
}
header .frontpage {
  margin-left: 25px;
}
header .img-1 {
  height: 100vh;
  width: 50%;
  position: absolute;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
  right: 0;
}
header .img-2 {
  height: 100vh;
  width: 50%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 2;
  top: 0;
  right: 0;
}
header .frontpage {
  max-width: 100vw;
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .frontpage article {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
}
header .frontpage article h1 {
  margin-bottom: 25px;
}
header .frontpage article p {
  margin-bottom: 100px;
}
header .frontpage article a {
  text-decoration: none;
  font-family: roboto-medium, sans-serif;
  color: #ff3571;
  font-size: 1.2rem;
  font-weight: 600;
}
header .frontpage .img-1 {
  background-image: url(../img/ilustracion1.png);
}
header .frontpage .img-2 {
  background-image: url(../img/ilustracion_people.png);
  animation: pulsate-bck 5s infinite;
}

img {
  margin: 1rem 3rem 0;
  height: 3rem;
  width: 3rem;
}

footer {
  position: relative;
}

p {
  font-size: 1.2rem;
  font-family: roboto-medium, sans-serif;
}

#image-bg {
  height: 100vh;
  background-image: url(../img/images.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.section-idea {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-idea h2 {
  margin-right: 100px;
}
.section-idea p {
  width: 25%;
  text-align: left;
  line-height: 30px;
  font-size: 1.2rem;
  font-family: roboto-medium, sans-serif;
}

.section-col-reverse {
  margin-bottom: 200px;
}
.section-col-reverse h2 {
  width: 50%;
  margin-bottom: 100px;
}
.section-col-reverse .col-revers-items {
  max-width: 400px;
  width: 100%;
}
.section-col-reverse .container-flex-flow {
  display: grid;
  justify-content: center;
  gap: 50px 200px;
  grid-template: "a b" "c d";
}
.section-col-reverse .container-flex-flow .col-reverse-items {
  max-width: 420px;
}
.section-col-reverse .container-flex-flow .col-reverse-items .row-container {
  display: flex;
  align-items: center;
}
.section-col-reverse .container-flex-flow .col-reverse-items p {
  margin-left: 145px;
  line-height: 30px;
  font-size: 1.2rem;
  font-family: roboto-medium, sans-serif;
}
.section-col-reverse .container-flex-flow #grid1 {
  grid-area: a;
}
.section-col-reverse .container-flex-flow #grid2 {
  grid-area: b;
}
.section-col-reverse .container-flex-flow #grid3 {
  grid-area: c;
}
.section-col-reverse .container-flex-flow #grid4 {
  grid-area: d;
}

.section-ready {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;
}
.section-ready h2 {
  text-align: center;
  margin-bottom: 25px;
}
.section-ready > p {
  font-size: 1.2rem;
  font-family: roboto-medium, sans-serif;
  text-align: center;
  width: 50%;
  margin-bottom: 50px;
}
.section-ready .article-flex-flow {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.section-ready .article-flex-flow .number-grey {
  margin-bottom: 50px;
  font-size: 4.4rem;
  font-family: roboto-bold, sans-serif;
  color: #dddddd;
}
.section-ready .article-flex-flow .img-container {
  margin-right: 100px;
  max-width: 500px;
  width: 100%;
  max-height: 500px;
}
.section-ready .article-flex-flow .img-container img {
  width: 100%;
  height: auto;
}
.section-ready .article-flex-flow .article-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-ready .article-flex-flow .article-container > p:not(.number-grey) {
  line-height: 30px;
  font-size: 1.2rem;
  font-family: roboto-medium, sans-serif;
}
.section-ready .article-flex-flow .article-container .emote {
  margin-bottom: 10px;
}
.section-ready .article-flex-flow .article-container .h3-heading {
  margin-bottom: 25px;
}

#reverse {
  flex-direction: row-reverse;
}
#reverse > .article-container {
  align-items: flex-end;
}
#reverse p {
  text-align: right;
}

.subscribe {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subscribe > h2 {
  margin-bottom: 10px;
}
.subscribe > p {
  margin-bottom: 25px;
  font-size: 1.2rem;
  font-family: roboto-medium, sans-serif;
}
.subscribe input {
  text-align: center;
  font-family: roboto-bold, sans-serif;
  font-weight: 600;
  width: 25%;
  height: 40px;
  margin-bottom: 25px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.subscribe input ::placeholder {
  text-align: center;
  font-family: roboto-regular, sans-serif;
}

/*# sourceMappingURL=style.css.map */
